* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    background-color: #dcdbd2;
}

header {
    width: 100%;
    height: 15vh;
    background-color: #009688;
}

/* Main - Top */
.top-container {
    background-color: #eaeaea;
}

.container-notification {
    background-color: #8edafc;
}

.user-top img {
    width: 50px;
    border-radius: 50%;
}

.top-icon {
    width: 100%;
}

.top-icon i,
.input-group-text i {
    padding: 0 8px;
    color: rgba(0, 0, 0, 0.3);
}

.info-content {
    width: 300px;
    line-height: 20px;
}

.notification-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

.notification-icon i {
    color: #8edafc;
}

.text-notification {
    font-size: 15px;
    text-decoration: underline;
}