* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    background-color: #dcdbd2;
}

header {
    width: 100%;
    height: 15vh;
    background-color: #009688;
    position: relative;
}

/* Main */
.top-container,
.input-bg {
    background-color: #eaeaea;
}

.container-notification {
    background-color: #8edafc;
}

.icon-chat-bg {
    background-color: #f3eeea;
}

.user-top img,
.user-list img {
    width: 50px;
    border-radius: 50%;
}

.top-icon {
    width: 100%;
}

.top-icon i,
.input-group-text i {
    padding: 0 8px;
    color: rgba(0, 0, 0, 0.3);
}

.info-content {
    width: 100%;
    line-height: 23px;
}

.online-info {
    width: 300px;
}

.notification-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

.notification-icon i {
    color: #8edafc;
}

.text-notification {
    font-size: 15px;
    text-decoration: underline;
}

.pattern-bg {
    height: calc(100% - 156px);
    background-image: url("../img/mine.jpg");
}

.chat-container {
    width: 650px;
    margin: 0 auto;
}

.chat-send {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #d5f9ba;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.chat-receive {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.hour {
    text-align: end;
    font-size: 10px;
}

.user-list:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}