<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importing Boostrap v5.2 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Importing Fontawesome v6.1 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Importing CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Importing Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Boolzapp</title>
</head>

<body>

    <header>

    </header>

    <main>
        <div id="root">
            <div class="container position-absolute top-50 start-50 translate-middle">
                <div class="row bg-light">

                    <!-- Box left -->
                    <div class="col-12 col-md-5 col-lg-5 p-0">

                        <!-- User box left-->
                        <div
                            class="top-container d-flex justify-content-between align-items-center border-end border-2 p-3">
                            <div class="user-top d-flex align-items-center">
                                <img src="img/avatar_io.jpg" alt="Avatar Sofia">
                                <span class="ps-2">Sofia</span>
                            </div>
                            <div class="top-icon text-end fs-5">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>

                        <!-- Notification box -->
                        <div class="container-notification d-flex p-3">
                            <div class="notification-icon d-flex justify-content-center align-items-center fs-5">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="info-content d-flex flex-column justify-content-center ps-3">
                                <span>Ricevi notifiche di nuovi messaggi</span>
                                <span class="text-notification text-black-50">Attiva notifica desktop</span>
                            </div>
                        </div>

                        <!-- Reserch chat box -->
                        <div class="input-group input-bg p-2">
                            <span class="input-group-text rounded-0 bg-white" id="inputGroup-sizing-default"><i
                                    class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control border rounded-0 p-2"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                placeholder="Cerca o inizia una nuova chat">
                        </div>

                        <!-- Contact list -->
                        <ul class="list-unstyled m-0">
                            <li @click="showChatMessage(index)" v-for="(contact, index) in contacts"
                                class="user-list d-flex border-bottom p-3">
                                <img :src=" 'img/avatar' + contact.avatar + '.jpg' " :alt="contact.name">
                                <div class="info-content d-flex flex-column justify-content-center ps-3">
                                    <span> {{ contact.name }} </span>
                                    <span class="text-black-50">Ultimo messaggio inviato</span>
                                </div>
                                <div class="d-flex">
                                    <span class="text-black-50">12:00</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Box right -->
                    <div class="col-12 col-md-7 col-lg-7 p-0">

                        <!-- User box right-->
                        <div class="top-container d-flex justify-content-between align-items-center p-3">
                            <div class="user-top d-flex align-items-center">
                                <img src="img/avatar_1.jpg" alt="Avatar Michele">
                                <div class="info-content d-flex flex-column">
                                    <span class="ps-2">Michele</span>
                                    <span class="online-info text-black-50 ps-2">Ultimo accesso oggi alle
                                        12:00</span>
                                </div>
                            </div>
                            <div class="top-icon text-end fs-5">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>

                        <!-- Chat box -->
                        <div class="pattern-bg d-flex">
                            <div class="chat-container p-4">
                                <div class="chat-box">
                                    <div v-for="element in contacts[activeIndex].messages" class="chat-send">
                                        <span> {{ element.message }} </span>
                                        <span class="hour text-black-50">{{ element.date }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Chat message -->
                        <div class="input-group icon-chat-bg p-2">
                            <span class="input-group-text icon-chat-bg border-0 rounded-0 fs-4"
                                id="inputGroup-sizing-default"><i class="fa-regular fa-face-smile"></i></span>
                            <input type="text" class="form-control border rounded-2 p-3"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                placeholder="Scrivi un messaggio">
                            <span class="input-group-text icon-chat-bg border-0 rounded-0 fs-4"
                                id="inputGroup-sizing-default"><i class="fa-solid fa-microphone"></i></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        </div>
    </main>

    <script src="js/script.js"></script>
</body>

</html>